<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <footer class="footer">
        <div class="container">
            <div class="row1">
                <div class="footer-col">
                    <h4>About Us</h4>
                    <p>
                        Hotel PS offers affordable luxury to the discerning travelers. We have some of the best hotel rooms in Panaji. Each room is spacious and tastefully decorated and comes with air conditioning, quality furnishings, TV and telephone </p>
                </div>

                <div class="footer-col">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="#"> Blog</a></li>
                            <li><a href="#">Room</a></li>
                            <li><a href="#">Gift Card</a></li>
                            <li><a href="#">Subscription</a></li>
                        </ul>

                </div>

                <div class="footer-col">
                    <h4>Privacy</h4>
                    <ul>
                        
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Services</a></li>
                    </ul>

                </div>

                <div class="footer-col box-question">
                    <h4>Have a question?</h4>
                    <ul>
                        <li><i class="fa-solid fa-location-dot"></i>   Panaji , Goa 403006</li>
                        <li><i class="fa-solid fa-phone"></i>  +91 94567 83990</li>
                        <li><i class="fa-solid fa-mobile-button"></i>  +91 94567 78990</li>
                        <li><i class="fa-solid fa-envelope"></i>   info@ps.com</li>
                    </ul>

                        <div class="icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a> 
                        </div>
                            
                       
                
                </div>
            </div>

            <div class="row2">
                <div class="footer-col ">
                    Made with <i class="fas fa-heart" style="color: red;"></i> by Team Alpha
                </div>
            </div>

        </div>

    </footer>
</body>
</html>