<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/checkcancel.css">
    <title>Checkout</title>
</head>
<body>
    {{>header}}
    <div class="container">
      
        <form onsubmit="return submitForm()" >
        <div id="error"></div>
        <label for="book_id">Book ID : </label>
        <input type="text" id="book_id" name="book_id"> <br><br>
        <input type="submit" id="CheckoutBtn" value="checkout" onclick="Checkout()">
        <input type="submit" id="CancelBtn" value="cancel" onclick="Cancel()">
        </form>
    </div>
    

    <script src="js/formvalidation.js"></script>
    
</body>
</html>